<!DOCTYPE html>
<html>
  <body>
    <h1>Available Spaces</h1>
    <% @spaces.each do |space| %>
    <a href="/spaces/<%= space.id %>">
    <h2><%= space.name %></h2>
    </a>
      <% end %>
  </body>
</html>
