<!DOCTYPE html>
<html>
  <body>
    <h1>Chuckle Hotel</h1>
    <%if session[:user_id] %>
    <h3>Welcome <%=@user.id%> </h3>
    <% end %>
    <% @spaces.each do |space| %>
    <a class="space" href="/spaces/<%= space.id %>">
    <h2><%= space.name %></h2>
    </a>
      <% end %>
  </body>
</html>
