* {box-sizing: border-box;}

/* input[type="submit"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
} */

body { 
  background-color: #d35ce8;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {background-color: rgb(183, 1, 183);}
  to {background-color: rgb(149, 0, 255);}
}

header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

h2.slogan {
  font-style: italic;
}

header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

input:hover {
  background-color: rgb(37, 219, 255);
  color: rgb(136, 0, 154);
}

div.form {
  text-align: center;
}

img.logo {
  text-align: left;
  width: 150px;
  height: 100px;
}

header a:hover {
  background-color: #ddd;
  color: rgb(166, 4, 242);
  font-style: bold;
}

header a.active {
  background-color: #6315d9ac;
  color: white;
}

.header-right {
  float: right;
}

.user {
  display: flex;
  padding: 20px 10px;
  line-height: 5px;
}

.user .nav {
  background-color: #cfa6ff;
  width: 100%;
  padding: 10px;
}

main {
  padding: 25px;
}

main a {
  width: 200px;
  height: 200px;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

main a:hover {
  background-color: rgb(37, 219, 255);
  color: rgb(0, 0, 0);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center
}

input {
  padding: 10px;
  margin: 5px;
}

a.space {
  color: white;
}



.flash {
  background-color: #a90991;
  padding: 10px;
}
