<!DOCTYPE html>
<html>

  <head>
    <title>Thank you for confirming the request!</title>
   <link rel="stylesheet" href="../../css/stylesheet.css" type="text/css" />
  </head>
  <body>

    <header>
      <a href="/spaces">
        <img src="../../images/newlogo.png" class='logo'/>
      </a>
    </header>

  <body>
    <h1>Thank you, you have approved booking for <%= @space.name %>.</h1>
  </body>

</html>