<!DOCTYPE html>
<html>
  <head>
    <title>Thank you for confirming the request!</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" />
  </head>
  <body>
  Thank you, you have approved booking for <%= @space.name %>.
  </body>
</html>