<!DOCTYPE html>
<html>
  <body>
    <h1>Chuckle Hotel</h1>
    <form action='/sessions/destroy' method='post'>
      <input type='submit' value='Log Out'>
    </form>

    <form action='/spaces' method='get'>
      <input type='submit' value='Spaces'>
    </form>
    <br>
    <%# <form action='/' method='get'>
      <input type='button' value='Create Space'><br><br>
      <input type='button' value='Manage Availability'><br><br>
      <input type='button' value='Manage Requests'><br><br>
    </form> %>

  </body>
</html>