<form method="post" action="/requests">
  <% @booking_requests.each do |request| %>
    <input class="option" type="radio" name="<%= Space.find(id: request.space_id).name %>" value="<%= request.id %>">
  <% end %>
</form>