<html>

  <h1>Chuckle Hotel</h1>

    <form action='/host/spaces' method='post'>

      <select id="spaces" name="spaces">
        <% @spaces.each do |space| %>
          <option value="<%= space.id %>"><%= space.name %></option>
        <% end %>
      </select>

      <br>

      <label for="available_from">Available from:</label><br>
      <input type='date' name='available_from' required><br>
      <label for="available_to">Available to:</label><br>
      <input type='date' name='available_to' required><br>

      <input type='submit' value='Update Availability'>
    </form>

</html>