<html>

  <h1></h1>

    <form action='/host/spaces' method='post'>
      <select>
        <option value=> 
      </select>

      <input type='' name='name' placeholder='Space name' required>
      <input type='text' name='description' placeholder='Space description' required>
    </form>

</html>