<!DOCTYPE html>
<html>
  <head>
    <title>Thank for adding your space!</title>
    <link rel="stylesheet" href="./stylesheet.css" type="text/css" />
  </head>
  <body>
  Thank you for adding <%= @space.name %> to Chuckle Hotel
  </body>
</html>