<!DOCTYPE html>
<html>

  <head>
    <title>Space Created Confirmation</title>
    <link rel="stylesheet" href="../css/stylesheet.css" type="text/css" />
  </head>

  <body>

    <header>

      <a href="/">
        <img src="../images/newlogo.png" class='logo'/> 
      </a>

      <div class="header-right">
        <a href="/spaces">Spaces</a>
        <a class="active" href="/host">Host</a>

        <% if !session[:user_id] %>
          <a href="/users/new">Sign up</a>
          <a href="/sessions/new">Log in</a>
        <% end %>
        
      </div>

    </header>

    <% if session[:user_id] %>
      <div class="user">
        <div class="nav">
          <h2>
            Hi <%= User.find(id: session[:user_id]).username %>
          </h2>

          <div>
            <form action='/sessions/destroy' method='post'>
                <input type='submit' value='Log Out'>
            </form>
          </div>
        </div>
      </div>
    <% end %>

    <main>
      Thanks for adding <%= @space.name %> to Chuckle Hotel
    </main>

  </body>

</html>
