<!DOCTYPE html>
<html>
  <head>
    <title>Hello!</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" />
  </head>
  <body>
    <form action='/spaces' method='post'>
      <input type='text' name='name' placeholder='Space name' required>
      <input type='text' name='description' placeholder='Space description' required>
      <input type='number' name='price' placeholder='Space cost per night' required>
      <input type='hidden' name='user_id' value="<%= @user.id %>">
      <input type='submit' name='Create Space'>
    </form>
  </body>
</html>
