<%= @space.name %>
<%= @space.description %>
<%= @space.price %>

<form method="post" action="/booking">
  <input type="hidden" name="space_id" value="<%= @space.id %>">
  <input type="date" name="date">
  <input type="submit" value="Request Booking">
</form>