<!DOCTYPE html>
<html>
  <head>
    <title>Thank you for signing up!</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" />
  </head>
  <body>
  Thank you <%= @user.username %>. You are now signed up to Chuckle Hotel.
  </body>
</html>